[package]
authors = ["theduke <chris@theduke.at>"]
name = "crates_io_api"
description = "API client for crates.io"
license = "MIT/Apache-2.0"
repository = "https://github.com/theduke/crates_io_api"
documentation = "https://docs.rs/crates_io_api"
readme = "README.md"
keywords = [ "crates", "api" ]
categories = [ "web-programming", "web-programming::http-client" ]
edition = "2018"

version = "0.5.0"

[dependencies]
chrono = { version = "0.4.6", features = ["serde"] }
reqwest = { version = "0.9" }
serde = "1.0.79"
serde_derive = "1.0.79"
serde_json = "1.0.32"
url = "1.7.1"
log = "0.4.5"
failure = "0.1.2"
futures = "0.1.25"
tokio = "0.1"
